PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE doctrine_migration_versions (version VARCHAR(191) NOT NULL, executed_at DATETIME DEFAULT NULL, execution_time INTEGER DEFAULT NULL, PRIMARY KEY(version));
INSERT INTO doctrine_migration_versions VALUES('DoctrineMigrations\Version20231123145913','2023-11-23 14:59:27',8);
CREATE TABLE movie (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, title VARCHAR(255) NOT NULL, duration INTEGER NOT NULL);
INSERT INTO movie VALUES(1,'Miss Peregrine et les enfants particuliers',127);
INSERT INTO movie VALUES(2,'Deepwater',107);
INSERT INTO movie VALUES(3,'Kubo et l''armure magique',102);
CREATE TABLE movie_has_people (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, movie_id INTEGER NOT NULL, people_id INTEGER NOT NULL, role VARCHAR(255) NOT NULL, significance VARCHAR(255) NOT NULL, CONSTRAINT FK_EDC40D818F93B6FC FOREIGN KEY (movie_id) REFERENCES movie (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_EDC40D813147C936 FOREIGN KEY (people_id) REFERENCES people (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
INSERT INTO movie_has_people VALUES(1,1,1,'actrice','principal');
INSERT INTO movie_has_people VALUES(2,1,2,'acteur','principal');
INSERT INTO movie_has_people VALUES(3,1,3,'acteur','secondaire');
CREATE TABLE movie_has_type (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, movie_id INTEGER DEFAULT NULL, type_id INTEGER DEFAULT NULL, CONSTRAINT FK_D7417FB8F93B6FC FOREIGN KEY (movie_id) REFERENCES movie (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_D7417FBC54C8C93 FOREIGN KEY (type_id) REFERENCES type (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
INSERT INTO movie_has_type VALUES(1,1,1);
INSERT INTO movie_has_type VALUES(2,2,1);
INSERT INTO movie_has_type VALUES(3,2,5);
CREATE TABLE people (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, firstname VARCHAR(255) NOT NULL, lastname VARCHAR(255) NOT NULL, date_of_birth DATE NOT NULL, nationality VARCHAR(255) NOT NULL);
INSERT INTO people VALUES(1,'Eva','GREEN','1980-07-06','fran├ºaise');
INSERT INTO people VALUES(2,'Asa','BUTTERFIELD','1997-04-01','britannique');
INSERT INTO people VALUES(3,'Samuel','JACKSON','1948-12-21','am├®ricaine');
CREATE TABLE type (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL);
INSERT INTO type VALUES(1,'fantastique');
INSERT INTO type VALUES(2,'horreur');
INSERT INTO type VALUES(3,'animation');
CREATE TABLE messenger_messages (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, body CLOB NOT NULL, headers CLOB NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , available_at DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , delivered_at DATETIME DEFAULT NULL --(DC2Type:datetime_immutable)
        );
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('movie_has_type',22);
INSERT INTO sqlite_sequence VALUES('movie',1135);
INSERT INTO sqlite_sequence VALUES('people',1151);
CREATE INDEX IDX_EDC40D818F93B6FC ON movie_has_people (movie_id);
CREATE INDEX IDX_EDC40D813147C936 ON movie_has_people (people_id);
CREATE INDEX IDX_D7417FB8F93B6FC ON movie_has_type (movie_id);
CREATE INDEX IDX_D7417FBC54C8C93 ON movie_has_type (type_id);
CREATE INDEX IDX_75EA56E0FB7336F0 ON messenger_messages (queue_name);
CREATE INDEX IDX_75EA56E0E3BD61CE ON messenger_messages (available_at);
CREATE INDEX IDX_75EA56E016BA31DB ON messenger_messages (delivered_at);
COMMIT;
